module Secrets exposing (..)

-- insert your client ID/Secret and rename to secrets.elm

clientId : String
clientId =
    "abcabcabcabcabcabcabc"


clientSecret : String
clientSecret =
    "abcabcabcabcabcabcabcabcabcabcabcabcabc"

spaceKey : String
spaceKey =
    "abcabcabc"